*{
    margin: 0;
    padding: 0;
}


#ciudadanos-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

#ciudadanos-formulario{
    width: 35vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px,15px,15px,15px rgb(rgb(46, 44, 44)) ;
}